version: 2.1
jobs:
  build:
    docker:
      - image: zoobab/arduino-cli:latest
        auth:
          username: iarina
          password: W2tDS,whc! 

    steps:
      - checkout
      
      - run:
          name: Install Arduino board support
          command: arduino-cli core install arduino:avr
      
      - run:
          name: Compile the code
          command: arduino-cli compile --fqbn arduino:avr:uno --output-dir . problema1.ino
          
      - store_artifacts:
          path: build

      - store_test_results:
          path: test-results
